//GLOBAL VARIABLES GO HERE


//*****Global fonts go here

$font-sizes: (
    h1: 40px,
    h2: 30px,
    h3: 22px,
    h4: 16px,
    text: 14px, 
);



//*****Global colors go here
$color-red: red;
$color: (
    purple: #414464,
    orange: #F0916E,
    light-grey: #F9F9FB,
    red: #C12626
);

//*****Border radiuses
$border-radius-card: 10px;
$border-radius-default: 5px;
